body {
    width: 100%;
    margin: 0; /* Add this to remove default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
   /* Vertically center the page content */
    height: 100vh; /* Make the page take the full viewport height */
    background-image: url(../public/grisfx-witch-stories.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .signUpCadre{
    background-color: rgba(165, 150, 212, 0.8); /* Red background with 50% opacity */
    padding: 6px;
    width: 450px;
   
  }
  
  .Title{
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .Info{
    display: flex;
    flex-direction: column;
  }
  .Inputs{
    display: flex;
    flex-direction: column;
  
  
  }
  
  #inpuT{
    margin: 40px;
    font-size: large;
    height: 30px;
    opacity: 100%;
  }
  
  .Checkboxes{
    font-size: large;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
  }
  
  #f{
    display: flex;
    flex-direction: row;
  }
  
  .Bouton{
  margin: 40px;
  }
  
  button{
    height: 50px;
    width: 100%;
    font-size: large
  }
  
  
  
  
  @media screen and (max-width: 1024px) {
    body {
      background-color: cadetblue;
      background-image: none;
  
    }
    .signUpCadre{
      background-color: rgba(165, 150, 212, 0.8); /* Red background with 50% opacity */
      padding: 6px;
      width: 300px;
     
    }
    
    .Title{
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
      font-size: small;
      text-transform: uppercase;
    }
    
    .Info{
      display: flex;
      flex-direction: column;
    }
    .Inputs{
      display: flex;
      flex-direction: column;
    
    
    }
    
    #inpuT{
      margin-block: 10px;
      margin-left: 20px;
      margin-right: 20px;
      
      font-size: small;
      height: 20px;
      opacity: 100%;
    }
    
    .Checkboxes{
      font-size: small;
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      margin-right: 20px;
      justify-content: space-between;
    }
    
    #f{
      display: flex;
      flex-direction: row;
    }
    
    .Bouton{
    margin: 20px;
    }
    
    button{
      height: 25px;
      width: 100%;
      font-size: 10px
    }
    
  }


  @media screen and (max-width: 600px) {
    body {
      background-color: cadetblue;
      background-image: none;
  
    }
    .signUpCadre{
      background-color: rgba(165, 150, 212, 0.8); /* Red background with 50% opacity */
      padding: 6px;
      width: 260px;
     
    }
    
    .Title{
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      font-size: small;
      text-transform: uppercase;
    }
    
    .Info{
      display: flex;
      flex-direction: column;
    }
    .Inputs{
      display: flex;
      flex-direction: column;
    
    
    }
    
    #inpuT{
      margin: 10px;
      font-size: small;
      height: 20px;
      opacity: 100%;
    }
    
    .Checkboxes{
      font-size: small;
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      margin-right: 10px;
      justify-content: space-between;
    }
    
    #f{
      display: flex;
      flex-direction: row;
    }
    
    .Bouton{
    margin: 10px;
    font-size: small;
    }
    
    button{
      height: 25px;
      width: 100%;
      font-size: 10px
    }
    
  }